<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iambedant.instantappstarter.featureone">

    <application>
        <activity android:name="com.iambedant.instantappstarter.ui.InstantFeatureOneActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="iambedant.com"
                    android:pathPattern="/featureone" />
            </intent-filter>
        </activity>
    </application>
</manifest>
