<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iambedant.instantappstarter.featuretwo">

    <application>
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />

        <activity android:name="com.iambedant.instantappstarter.ui.newslist.NewsListActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="iambedant.com"
                    android:pathPrefix="/newslist" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="iambedant.com"
                    android:pathPattern="/newslist" />
            </intent-filter>
        </activity>
    </application>

</manifest>