<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iambedant.instantappstarter.featuretwo">

    <application>
        <activity android:name="com.iambedant.instantappstarter.ui.InstantFeatureTwoActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="iambedant.com"
                    android:pathPattern="/featuretwo"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="iambedant.com"
                    android:pathPattern="/featureone" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="iambedant.com"
                    android:pathPattern="/featuretwo" />
            </intent-filter>
        </activity>
    </application>
</manifest>
